h1 {
  margin-top: 10rem;
  text-align: center;
}
h2 {
  font-size: 1.75rem;
}

hr {
  width: 3rem;
  margin: auto;
}
* {
  background-size: cover;
}
.sort {
  text-align: right;
  margin-bottom: 3.75rem;
}
.tag-group {
  display: flex;
  margin-bottom: 7.5rem;
  align-items: flex-start;
}
.tag-group.wrapper {
  width: 100%;
}
.tag {
  width: 27rem;
  aspect-ratio: 3/4;
  margin-right: 1.5rem;
}
.reverse .tag {
  margin: 0 0 0 1.5rem;
}

.tag p {
  position: absolute;
  color: #fff;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.75rem;
}
.thumbnail {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 1;
}
.reverse .thumbnail {
  flex-direction: row-reverse;
}
.thumbnail a {
  display: block;
  width: 15rem;
  aspect-ratio: 3/4;
  margin: 0 1.5rem 2rem 1.5rem;
}
button {
  display: block;
  margin: auto;
  font-size: 1.75rem;
  margin-bottom: 7.5rem;
  cursor: pointer;
}

select {
  outline: none;
  border: none;
}
@media screen and (max-width: 1366px) {
}
@media screen and (max-width: 1194px) {
}

@media screen and (max-width: 1024px) {
  .tag-group {
    flex-direction: column;
    margin-bottom: 4rem;
    align-items: center;
  }
  .tag-group.wrapper {
    padding: 0;
  }
  .tag {
    width: 100%;
    aspect-ratio: 16/9;
    margin: 0 0 2.5rem 0;
  }
  .thumbnail {
    justify-content: center;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .reverse .tag {
    margin: 0 0 2.5rem 0;
  }
}
/* スマホ */
@media screen and (max-width: 834px) {
  .thumbnail a {
    width: 12rem;
    margin: 0 1rem 1.5rem 1rem;
  }
}
